<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOG_PATH" value="./output/logs"></property>
<!--    <property name="LOG_PATH" value="~/logs"></property>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <appender name="ENCODER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="DAILY_ROLLING_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/batch.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/batch_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>15MB</maxFileSize>
                <!-- kb, mb, gb -->
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 일자별로 떨궈야할때. -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.example.batchproject" level="INFO">
        <appender-ref ref="DAILY_ROLLING_FILE_APPENDER"></appender-ref>
    </logger>

<!--    <logger name="com.apprApi.service" level="INFO,DEBUG,ERROR">-->
<!--        <appender-ref ref="DAILY_ROLLING_FILE_APPENDER" />-->
<!--    </logger>-->

<!--    <logger name="com.apprApi.dao" level="INFO,DEBUG,ERROR">-->
<!--        <appender-ref ref="DAILY_ROLLING_FILE_APPENDER" />-->
<!--    </logger>-->

<!--    <logger name="com.apprApi.tests" level="INFO,DEBUG,ERROR">-->
<!--        <appender-ref ref="DAILY_ROLLING_FILE_APPENDER" />-->
<!--    </logger>-->

<!--    <logger name="com.apprApi" level="ERROR">-->
<!--        <appender-ref ref="DAILY_ROLLING_FILE_APPENDER" />-->
<!--    </logger>-->

    <!-- jdbc.sql Loggers -->
    <logger name="jdbc.connection"      level="OFF"     additivity="false"><appender-ref ref="STDOUT" /></logger>
    <logger name="jdbc.audit"           level="WARN"    additivity="false"><appender-ref ref="STDOUT" /></logger>
    <logger name="jdbc.sqlonly"         level="OFF"     additivity="false"><appender-ref ref="STDOUT" /></logger>
    <logger name="jdbc.sqltiming"       level="DEBUG"   additivity="false"><appender-ref ref="STDOUT" /></logger>
    <logger name="jdbc.resultset"       level="OFF"     additivity="false"><appender-ref ref="STDOUT" /></logger>
    <logger name="jdbc.resultsettable"  level="DEBUG"   additivity="false"><appender-ref ref="STDOUT" /></logger>

    <root level="INFO,DEBUG,ERROR">
        <appender-ref ref="STDOUT" />
    </root>

<!--    <root level="ERROR"> -->
<!--        <appender-ref ref="STDOUT" /> -->
<!--    </root> -->

</configuration>